
#main-wrapper{
	
	width:500px;
	
	background:white;
	padding:5px;
	border-radius:10px ;
	border: 2px solid #2c3e50;
	float:left;
	
		
}
#wrapper{
	
	width:500px;
	
	background:white;
	padding:5px;
	border-radius:10px ;
	border: 2px solid #2c3e50;
	float:right;
	
		
}



	
.avatar{
	width:150px;
	text-align:center;
	
}
.myform{
	width:450px;
	margin:0 auto;
}
.inputvalues{
	width:430px;
	margin:0 auto;
	padding:5px;
}
#signup_btn{
	background-color:#16a085;
	padding:5px;
	color:white;
	width:100px;
	margin:0 auto;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
	
